<app-header *ngIf="organizationId != null"></app-header>

<bit-container>
  <div class="tabbed-header" *ngIf="organizationId == null">
    <h1 *ngIf="!organizationId || !isEnterpriseOrg">{{ "twoStepLogin" | i18n }}</h1>
    <h1 *ngIf="organizationId && isEnterpriseOrg">{{ "twoStepLoginEnforcement" | i18n }}</h1>
  </div>

  <p *ngIf="!organizationId">{{ "twoStepLoginDesc" | i18n }}</p>
  <ng-container *ngIf="organizationId">
    <p>
      <ng-container *ngIf="isEnterpriseOrg; else teamsDescription">
        {{ "twoStepLoginEnterpriseDescStart" | i18n }}
        <a routerLink="../policies">{{ "twoStepLoginPolicy" | i18n }}.</a>
        <br />
        {{ "twoStepLoginOrganizationDuoDesc" | i18n }}
        <br />
        <br />
        <p>{{ "twoStepLoginOrganizationSsoDesc" | i18n }}</p>
      </ng-container>
      <ng-template #teamsDescription>
        {{ "twoStepLoginTeamsDesc" | i18n }}
        <br />
        {{ "twoStepLoginOrganizationDuoDesc" | i18n }}
      </ng-template>
    </p>
  </ng-container>
  <bit-callout type="warning" *ngIf="!organizationId">
    <p>{{ "twoStepLoginRecoveryWarning" | i18n }}</p>
    <button type="button" bitButton buttonType="secondary" (click)="recoveryCode()">
      {{ "viewRecoveryCode" | i18n }}
    </button>
  </bit-callout>
  <h2 [ngClass]="{ 'mt-5': !organizationId }">
    {{ "providers" | i18n }}
    <small *ngIf="loading">
      <i
        class="bwi bwi-spinner bwi-spin bwi-fw text-muted"
        title="{{ 'loading' | i18n }}"
        aria-hidden="true"
      ></i>
      <span class="sr-only">{{ "loading" | i18n }}</span>
    </small>
  </h2>
  <bit-callout type="warning" *ngIf="showPolicyWarning">
    {{ "twoStepLoginPolicyUserWarning" | i18n }}
  </bit-callout>
  <ul class="list-group list-group-2fa">
    <li *ngFor="let p of providers" class="list-group-item d-flex align-items-center">
      <div class="logo-2fa d-flex justify-content-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="121"
          height="62"
          fill="none"
          class="tw-text-primary-600"
          *ngIf="p.type === 0"
        >
          <rect width="35" height="12" x="50.324" y="21.5" stroke="currentColor" rx="6" />
          <circle cx="55.324" cy="27.5" r="1.5" fill="currentColor" />
          <circle cx="65.324" cy="27.5" r="1.5" fill="currentColor" />
          <circle cx="75.324" cy="27.5" r="1.5" fill="currentColor" />
          <circle cx="60.324" cy="27.5" r="1.5" fill="currentColor" />
          <circle cx="70.324" cy="27.5" r="1.5" fill="currentColor" />
          <circle cx="80.324" cy="27.5" r="1.5" fill="currentColor" />
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M52.703 61h34.706"
          />
          <path
            stroke="currentColor"
            stroke-linejoin="round"
            stroke-width="2"
            d="M63.932 51.166V61M75.16 51.166V61"
          />
          <path
            stroke="currentColor"
            stroke-width="2"
            d="M38.952 51.166h64.894a6 6 0 0 0 6-6V7a6 6 0 0 0-6-6h-68a6 6 0 0 0-6 6v7.655"
          />
          <path
            stroke="currentColor"
            d="M38.692 46.517h62.999a4 4 0 0 0 4-4V9.552a4 4 0 0 0-4-4H38.537a4 4 0 0 0-4 4v5.103"
          />
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M32.284 27.382h11.064l-2.912-2.895M43.348 30.276H32.284l2.912 2.895"
          />
          <path
            stroke="currentColor"
            stroke-width="2"
            d="M37.846 27.75V19a4 4 0 0 0-4-4h-18a4 4 0 0 0-4 4v38a4 4 0 0 0 4 4h18a4 4 0 0 0 4-4V30.5"
          />
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-width="2"
            d="M24.806 18.5h.08"
          />
          <path stroke="currentColor" d="M24.846 36a8 8 0 1 0 7.858 6.5" />
          <path
            fill="currentColor"
            d="M21.547 45.36h1.02v-3.64l-1.221.584v-.626l1.215-.575h.657v4.258h1.007v.545h-2.678v-.545ZM25.793 45.358h2.23v.548h-2.948v-.548c.405-.424.76-.799 1.063-1.124a27 27 0 0 0 .627-.687c.216-.263.363-.475.438-.636.076-.164.114-.33.114-.5 0-.27-.08-.48-.24-.633-.158-.153-.376-.23-.653-.23a1.99 1.99 0 0 0-.621.107 3.493 3.493 0 0 0-.69.323v-.658c.224-.106.443-.185.657-.24.217-.053.43-.08.64-.08.475 0 .856.126 1.145.378.29.25.435.578.435.984 0 .207-.049.413-.146.62a3.005 3.005 0 0 1-.468.684c-.122.14-.298.334-.53.581-.23.248-.58.618-1.053 1.11Z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="67"
          height="64"
          fill="none"
          class="tw-text-primary-600"
          *ngIf="p.type === 1"
        >
          <path
            stroke="currentColor"
            stroke-width="2"
            d="m9.28 19.155-5.848 4.363a4 4 0 0 0-1.608 3.206V59a4 4 0 0 0 4 4h56.044a4 4 0 0 0 4-4V26.742a4 4 0 0 0-1.63-3.223L58.3 19.155M42.438 7.49l-6.442-4.736a4 4 0 0 0-4.762.017l-6.324 4.72"
          />
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-width="2"
            d="M58.373 30.978V9.473a2 2 0 0 0-2-2H11.318a2 2 0 0 0-2 2v21.505"
          />
          <path
            stroke="currentColor"
            stroke-width="2"
            d="M64.504 61.637 43.35 42.107a6 6 0 0 0-4.07-1.59H27.421a6 6 0 0 0-4.175 1.69l-20.06 19.43"
          />
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-width="2"
            d="m65.181 27.239-22.81 13.623M2.51 27.24l22.81 13.622"
          />
          <rect width="35" height="12" x="16.324" y="17.5" stroke="currentColor" rx="6" />
          <circle cx="21.324" cy="23.5" r="1.5" fill="currentColor" />
          <circle cx="31.324" cy="23.5" r="1.5" fill="currentColor" />
          <circle cx="41.324" cy="23.5" r="1.5" fill="currentColor" />
          <circle cx="26.324" cy="23.5" r="1.5" fill="currentColor" />
          <circle cx="36.324" cy="23.5" r="1.5" fill="currentColor" />
          <circle cx="46.324" cy="23.5" r="1.5" fill="currentColor" />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="69"
          height="62"
          fill="none"
          class="tw-text-primary-600"
          *ngIf="p.type === 7"
        >
          <g stroke="currentColor" clip-path="url(#a)">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              stroke-width="2"
              d="M20.418 33.19c5.614 0 10.42 3.56 12.396 8.533h29.012l5.434 5.522-4.491 4.563h-6.602l-3.413-3.468-3.279 3.24-1.167-1.187-1.303 1.323-3.188-3.24-3.1 3.149H32.86c-1.932 5.065-6.782 8.67-12.44 8.67-7.366 0-13.339-6.069-13.339-13.553 0-7.483 5.928-13.552 13.338-13.552Zm-6.152 16.975c1.841 0 3.368-1.506 3.368-3.422 0-1.871-1.482-3.423-3.368-3.423-1.887 0-3.369 1.506-3.369 3.422 0 1.917 1.527 3.423 3.369 3.423Z"
            />
            <path
              stroke-linecap="round"
              d="M59.78 44.722H36.32M19.99 36.722c4.036 0 7.569 2.405 9.51 6"
            />
            <circle
              cx="12.24"
              cy="12.24"
              r="12.24"
              stroke-width="2"
              transform="matrix(-1 0 0 1 50.6 2.143)"
            />
            <path
              stroke-width="2"
              d="M22.753 33.423c3.836-4.174 9.41-6.8 15.615-6.8 9.698 0 17.857 6.417 20.243 15.13"
            />
          </g>
          <defs>
            <clipPath id="a"><path fill="#fff" d="M68.5.62H.5v61h68z" /></clipPath>
          </defs>
        </svg>
        <img
          [class]="'mfaType' + p.type"
          [alt]="p.name + ' logo'"
          *ngIf="p.type !== 0 && p.type !== 1 && p.type !== 7"
        />
      </div>
      <div class="mx-4">
        <h3 class="mb-0">
          <div class="font-weight-semibold tw-text-base">{{ p.name }}</div>
          <ng-container *ngIf="p.enabled">
            <i
              class="bwi bwi-check text-success bwi-fw"
              title="{{ 'enabled' | i18n }}"
              aria-hidden="true"
            ></i>
            <span class="sr-only">{{ "enabled" | i18n }}</span>
          </ng-container>
          <app-premium-badge *ngIf="p.premium"></app-premium-badge>
        </h3>
        {{ p.description }}
      </div>
      <div class="ml-auto">
        <button
          type="button"
          bitButton
          buttonType="secondary"
          [disabled]="!(canAccessPremium$ | async) && p.premium"
          (click)="manage(p.type)"
        >
          {{ "manage" | i18n }}
        </button>
      </div>
    </li>
  </ul>
</bit-container>

<ng-template #duoTemplate></ng-template>
<ng-template #emailTemplate></ng-template>
<ng-template #yubikeyTemplate></ng-template>
<ng-template #webAuthnTemplate></ng-template>
